body {
    font-family: 'Macondo Swash Caps', cursive;
}
div {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gameContainer {
    width: 800px;
    height: 600px;
    position: relative;
}
canvas {
    z-index: 5;
}
.menu-btn {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 100px;
    background: white;
    padding: 10px 8px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    display: block;
}

.menu-btn {
    display: block;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
        background-image: url(../img/p_b7.png);
    z-index: 20;
    display: none;
}
.menu-inner {
    width: 600px;
    height: 600px;
    background: black;
    margin: 0 auto;
}
.settings-screen {
    background-image: url(../img/p_b6.png);
}

progress[value].enemy_health_progress {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    background-color: red;
    z-index: 10;
    position: absolute;
    bottom: 15px;
    right: 30px;
}
progress[value].hero_health_progress {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    background-color: red;
    z-index: 10;
    position: absolute;
    bottom: 15px;
    left: 30px;
}

progress[value]::-webkit-progress-bar {
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.hero_health_progress::-moz-progress-bar { background: #BD3039; }
.hero_health_progress::-webkit-progress-value { background: #BD3039; }

.enemy_health_progress::-moz-progress-bar { background: #683390; }
.enemy_health_progress::-webkit-progress-value { background: #683390; }

.defeat-screen__heading {
    color: #BD3239;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 56px;
}
.defeat-screen__heading-perex {
    color: #683390;
    font-size: 26px;
    padding-top: 40px;
    margin: 0 70px;
}

.defeat-screen__heading-score {
    color: #BD3239;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 28px;
}
.defeat-screen__actions {
    margin-top: 50px;
    text-align: center;
}
.defeat-screen__actions-link {
    padding: 14px 10px;
    background-image: url(../img/p_b6.png);
    background-size: cover;
    color: white;
    text-decoration: none;
    font-size: 24px;
    border-radius: 30px;
    opacity: .8;
}
.defeat-screen__actions-link:hover {
    opacity: 1;
    filter: brightness(1.5);
    transition: .3s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.menu-inner__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}
.menu-inner__list-score {
    height: 30%;
}
.menu-inner__list-instructions {
    height: 40%;
}
.menu-inner__list-item {
    margin: 10px 0;
    font-size: 32px;
}
.menu-inner__list-item-instructions {
    font-size: 20px;
}

.menu-inner__list-item a {
    text-decoration: none;
    color: #683390;
}

.menu-inner__list-item a:hover {
    color: #992B27;
}
.menu-inner__list-item-score {
    color: #BD3239;
    font-size: 24px;
    margin: 5px 0;
    font-weight: bold;
}

.score-form {
    text-align: center;
    margin-top: 40px;
}
.score-form input[type="text"] {
    background: transparent;
    font-size: 22px;
    border: none;
    border-bottom: 5px solid #992B27;
    border-radius: 5px;
    color: white;
    opacity: .8;
}

.score-form input[type="text"]:active, .score-form input[type="text"]:focus, .score-form input[type="text"]:visited {
    outline: none;
}

.score-form button[type="submit"] {
    display: inline-block;
    width: 92px;
    border: none;
    height: 45px;
    font-size: 18px;
    color: white;
    border: 0;
}
.score-form__submit-btn-wrap {
    width: 100%;
    margin-top: 20px;
}

.score-form input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
.score-form input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
.score-form input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
.score-form input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: white;
}

.defeat-screen__actions-link-l {
    margin-right: 5px;
}
.defeat-screen__actions-link-r {
    margin-left: 5px;
}

.score-form button[type="submit"]:hover {
    cursor: pointer;
}

.difficulty-level:hover {
    cursor: pointer;
}

.difficulty--active {
    background-image: url(../img/p_b7.png);
    padding: 10px 5px;
    border-radius: 4px;
    display: inline-block;
    background-size: contain;
}

.visible {
    display: block;
}