body {
    font-family: 'Macondo Swash Caps', cursive;
}
div {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gameContainer {
    width: 800px;
    height: 600px;
    position: relative;
}
canvas {
    z-index: 5;
}
.menu-btn {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 100px;
    background: white;
    padding: 10px 8px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    display: block;
}

.menu-btn {
    display: block;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    background-image: url(../img/p_b7.png);
    z-index: 20;
    display: none;
}
.menu-inner {
    width: 600px;
    height: 600px;
    background: black;
    margin: 0 auto;
}
.settings-screen {
    background-image: url(../img/p_b6.png);
}

progress[value].enemy_health_progress {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    background-color: red;
    z-index: 10;
    position: absolute;
    bottom: 15px;
    right: 30px;
}
progress[value].hero_health_progress {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    background-color: red;
    z-index: 10;
    position: absolute;
    bottom: 15px;
    left: 30px;
}

progress[value]::-webkit-progress-bar {
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.hero_health_progress::-moz-progress-bar { background: #BD3039; }
.hero_health_progress::-webkit-progress-value { background: #BD3039; }

.enemy_health_progress::-moz-progress-bar { background: #683390; }
.enemy_health_progress::-webkit-progress-value { background: #683390; }

.defeat-screen__heading {
    color: #BD3239;
    text-align: center;
    margin: 0 auto;
    padding-top: 160px;
    font-size: 56px;
}
.defeat-screen__heading-score {
    color: #BD3239;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 28px;
}
.defeat-screen__actions {
    margin-top: 50px;
    text-align: center;
}
.defeat-screen__actions-link {
    padding: 14px 10px;
    background-image: url(../img/p_b6.png);
    background-size: cover;
    color: white;
    text-decoration: none;
    font-size: 24px;
    border-radius: 30px;
    opacity: .8;
}
.defeat-screen__actions-link:hover {
    opacity: 1;
    filter: brightness(1.5);
    transition: .3s;
    transition-timing-function: ease-out;
}

.menu-inner__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

.menu-inner__list-item {
    margin: 10px 0;
    font-size: 32px;
}

.visible {
    display: block;
}

/*.health_progress {*/
    /*background-color: red;*/
/*}*/